<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Transcripción de nuevo Hábito</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="wave-container">
    <!-- Crear líneas de la "wave" dinámicamente usando *ngFor -->
    <div class="wave-line" *ngFor="let line of waveLinesData" #line></div>
  </div>

  <ion-button expand="block" class="ion-padding">
    <ion-icon name="mic-outline"></ion-icon>
    ¡Empieza a Hablar!
  </ion-button>

  <div class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Nombre Hábito:</ion-label>
      <ion-textarea placeholder="Se mostrará la transcripción aquí..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Prioridad:</ion-label>
      <ion-textarea placeholder="Se mostrará la transcripción aquí..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Vencimiento:</ion-label>
      <ion-textarea placeholder="Se mostrará la transcripción aquí..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoría:</ion-label>
      <ion-textarea placeholder="Se mostrará la transcripción aquí..."></ion-textarea>
    </ion-item>
  </div>

</ion-content>