<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="titulo">¡Bienvenido!</ion-title>
    <p class="subtitulo">Inicia sesión para acceder a tu cuenta</p>
  </div>


    <div class="ion-padding">

      <!-- input nombrecito -->
      <ion-item>
        <ion-input placeholder="Nombre" class="input" [(ngModel)]="nombre"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <!-- input contraseñita :-p -->
      <ion-item>
        <ion-input placeholder="Contraseña" class="input" [(ngModel)]="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <!-- anchor Registración -->
      <div class="registroLink">
        <p>¿Eres nuevo? <a [routerLink]="['/registro']">Registrate ahora</a></p>
      </div>

      <ion-button (click)="ingresar()" expand="block">
        Ingresar
      </ion-button>
    </div>


  
</ion-content>

