<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- TÍTULO -->
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 2em;">
        Hoy
        <p style="font-weight: 400;">{{hoy | date:'fullDate' }}</p>
      </ion-label>
    </ion-item>

    <!-- BOTONCITO MENU -->
    <ion-buttons slot="start">
      <ion-menu-button style="color:#4D8DFF"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card *ngFor="let item of listaHaceres" class="ion-margin">
    <ion-card-header>

      <ion-card-subtitle [style.color]="item.prioridadItem === 'alto' ? 'red' : (item.prioridadItem === 'bajo' ? 'green' : 'orange') ">
        {{item.categoriaItem}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.prioridadItem === 'alto'" color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.prioridadItem === 'medio'" color="warning" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.prioridadItem === 'bajo'" color="success" size="small" name="ellipse"></ion-icon>
        <ion-label>{{item.nomItem}}</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Vence en {{item.fecVencItem | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>

      <ion-button>
        <ion-item style="--background: transparent;">
          <ion-icon name="checkmark-outline"></ion-icon>
          <p>Completado</p>
        </ion-item>
      </ion-button>

    <ion-button>
      <ion-item style="--background: transparent;">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancelar</p>
      </ion-item>
    </ion-button>

    </ion-row>
  </ion-card>


  <!-- BOTONCITO MICROFONO -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="mic" style="color: white;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
