<app-header [titulo]="'Hoy'"></app-header>

<ion-content [fullscreen]="true">

  

  <!-- Popup con ion-card -->
  <ion-card *ngIf="popupVisible" class="popup-card">
    <ion-card-header>
      <ion-button fill="clear" size="small" (click)="cerrarPopup()" class="close-button">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
      <ion-card-title style="color:white; font-size:17px;">Consejo Random</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:whitesmoke; font-size:15px;">
      {{consejoRetornadoAPI}}
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let item of listaHaceres ; let i = index" class="ion-margin">
    <ion-card-header>

      <ion-card-subtitle 
      [style.color]="item.value.prioridadItem.toLowerCase() === 'alto' || item.value.prioridadItem.toLowerCase() === 'alta' ? 'red' : (item.value.prioridadItem.toLowerCase() === 'bajo' || item.value.prioridadItem.toLowerCase() === 'baja' ? 'green' : 'orange') ">
      {{item.value.categoriaItem}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.value.prioridadItem.toLowerCase() === 'alto' || item.value.prioridadItem.toLowerCase() === 'alta'" color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.value.prioridadItem.toLowerCase() === 'medio' || item.value.prioridadItem.toLowerCase() === 'media'"  color="warning" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.value.prioridadItem.toLowerCase() === 'bajo' || item.value.prioridadItem.toLowerCase() === 'baja'" color="success" size="small" name="ellipse"></ion-icon>
        <ion-label>{{ item.value.nombreItem }}</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Vence en {{item.value.fechaItem | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>

  
      <ion-item button (click)="moverAHistorial(item.key, item.value, 'completado')">
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Completado</p>
      </ion-item>


      <ion-item button (click)="moverAHistorial(item.key, item.value, 'cancelado')">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancelar</p>
      </ion-item>
      

      <ion-item button (click)="enviarNotificacion1Segundo(item)">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Recordatorio 5 Seg</p>
      </ion-item>

      <ion-item button (click)="enviarNotificacion5Minutos(item)">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Recordatorio 5 Min</p>
      </ion-item>

      <ion-item button (click)="enviarNotificacion15Minutos(item)">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Recordatorio 15 Min</p>
      </ion-item>

      <ion-item button (click)="enviarNotificacion30Minutos(item)">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Recordatorio 30 Min</p>
      </ion-item>

      <ion-item button (click)="enviarNotificacion1Hora(item)">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Recordatorio 1 Hr</p>
      </ion-item>      


    </ion-row>
  </ion-card>


  <!-- BOTONCITO MICROFONO -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <!-- BOTÓN AGREGAR -->
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <!-- CONTENIDO: LAPIZ O MIC -->
    <ion-fab-list side="top">

      <ion-fab-button color="secondary" (click)="agregaHabito()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="secondary" (click)="agregaHabitoVoz()">
        <ion-icon name="mic"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

</ion-content>
