ion-content{

  P{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;

    margin: 0;
  }

  ion-fab-button{
    ion-icon{
      color:white;
    }
  }

  .popup-card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #4d8dff;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 17px;
    color: white;
    z-index: 10; /* Asegura que el botón esté en la parte superior */
    pointer-events: auto; /* Asegura que el botón pueda recibir clics */
  }
  
  


}