<app-header [titulo]="'Historial'"></app-header>

<ion-content [fullscreen]="true">


  <ion-card class="ion-margin">
    <ion-card-header>

      <ion-card-subtitle>

      </ion-card-subtitle>

      <ion-item>
        <ion-icon></ion-icon>
        <ion-icon></ion-icon>
        <ion-icon ></ion-icon>
        <ion-label></ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Este hábito...</ion-label>
    </ion-card-content>

    <ion-row>

      <!-- AQUÍ PONGO SI ES QUE FUE ELIMINADO, SU FECHA DE VENC PASÓ O SI ES QUE FUE COMPLETADO -->
      <ion-item>
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Completado</p>
      </ion-item>


    </ion-row>
  </ion-card>

</ion-content>
