ion-content{

    P{
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      color: #8c8c8c;
  
      margin: 0;
    }
  
    ion-fab-button{
      ion-icon{
        color:white;
      }
    }
}