<app-header [titulo]="'Perfil'"></app-header>

<ion-content class="ion-padding">
  <!-- Imagen de perfil y nombre -->
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <h2>{{ nombre }}</h2>
    </ion-label>
  </ion-item>

  <!-- Campo de entrada para cambiar el nombre -->
  <ion-item>
    <ion-label position="floating">Nuevo Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardarNombre()">Guardar Nombre</ion-button>
  
  <!-- Metas personales POR IMPLEMENTAR A FUTURO

  <ion-item-divider color="light">
    <ion-label>Metas Personales</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Mejorar la productividad</ion-label>
  </ion-item>

  --> 
  
  <!-- Fecha de ultima actividad en la app -->
  <ion-item-divider color="light">
    <ion-label>Fecha de Ultima Actividad en la App</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Última actividad registrada</ion-label>
    <ion-note slot="end">{{ currentDate }}</ion-note>
  </ion-item>
  
  <!-- Última actividad POR IMPLEMENTAR A FUTURO

  <ion-item-divider color="light">
    <ion-label>Última Actividad Registrada</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Última Actividad</ion-label>
    <ion-note slot="end">{{ fechaUltimaActividad }}</ion-note>
  </ion-item>

  -->
  
  <!-- Botón de reversa 
  <app-boton-reversa></app-boton-reversa>
  -->
  </ion-content>