.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-container h2 {
    margin-top: 10px;
  }
  
  .goals-section, .info-section, .activity-section {
    margin-top: 20px;
  }
  
  ion-item-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  