<app-header [titulo]="'Perfil'"></app-header>

<ion-content class="ion-padding">
  <!-- Imagen de perfil y nombre -->
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <h2>{{ nombre }}</h2>
    </ion-label>
  </ion-item>

  <!-- Campo de entrada para cambiar el nombre -->
  <ion-item>
    <ion-label position="floating">Nuevo Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardarNombre()">Guardar Nombre</ion-button>

  <!-- Metas personales -->
  <ion-item-divider color="light">
    <ion-label>Metas Personales</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Mejorar la productividad</ion-label>
  </ion-item>

  <!-- Cambio de Zona Horaria y Fecha Actual -->
  <ion-item-divider color="light">
    <ion-label>Cambio de Zona Horaria y Fecha Actual</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Zona Horaria</ion-label>
    <ion-select [(ngModel)]="zonaHoraria" (ionChange)="cambiarZonaHoraria()" interface="popover">
      <ion-select-option value="GMT-3">Zona horaria de Santiago (GMT-3)</ion-select-option>
      <ion-select-option value="GMT-5">Isla de Pascua (GMT-5)</ion-select-option>
      <ion-select-option value="GMT-3-Punta">Punta Arenas (GMT-3)</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Actual</ion-label>
    <ion-note slot="end">{{ currentDate }}</ion-note>
  </ion-item>

  <!-- Última actividad -->
  <ion-item-divider color="light">
    <ion-label>Última Actividad Registrada</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Última Actividad</ion-label>
    <ion-note slot="end">{{ fechaUltimaActividad }}</ion-note> <!-- Ahora solo muestra la fecha -->
  </ion-item>
</ion-content>
