<ion-app>

  <ion-menu content-id="main" *ngIf="mostrarMenu">

    <ion-header>

      <ion-toolbar>
        <ion-title>Habitly</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content>

      <ion-list>

       <!-- Campos de entrada para el perfil de usuario -->
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="nombreUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="emailUsuario"></ion-input>
        </ion-item>

        <!-- BOTONCITO A HOME -->
        <ion-item [routerLink]="['/home']">

          <ion-icon name="checkbox" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>

        </ion-item>

        <!-- BOTONCITO A PERFIL -->
        <ion-item [routerLink]="['/perfil']">

          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>

        </ion-item>


        <!-- BOTONCITO A HISTORIAL HABITOS -->
        <ion-item [routerLink]="['/historial-habitos']">

          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Historial de Hábitos</ion-label>

        </ion-item>

        <!-- BOTONCITO LOGOUT -->
        <ion-item button (click)="confirmarCerrarSesion()">

          <ion-icon name="log-out" slot="start" class="cerrarSesion"></ion-icon>
          <ion-label class="cerrarSesion">Cerrar Sesión</ion-label>

        </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>








<!--
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
-->
